// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// ----------------------------------------------------------------------------
.container {
  width: 100%;
}

.navbar {
  background-color: $background-color;

  .navbar-collapse {
    text-align: center;
  }

    ul {
      margin: 10px;
      // display: flex;
      // justify-content: space-around;
      font-size: 18px;
      text-transform: uppercase;

        li a {
          color: $base-text-color;
        }
      }
  }

  .navbar .navbar-nav {
    font-family: $nav-font-stack;
    display: inline-block;
    float: none;
    align-items: stretch;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

.logo {
  position: absolute;
  top: 10%;
  left: 20%;
  bottom: 54.5%;
  margin: 0;
  padding: 0;
  font-family: $header-font-stack;
  font-size: 36px;
  text-align: center;
  text-shadow: $text-shadow;
  z-index: 1;
}

.item {
  align-items: center;
  max-width: none;
  height: 30%;
  top: 0;
  left: 0;
  height: auto;
  min-width: 100%;}

.carousel {
  margin: 0 auto;
  max-width: 100%;
  background-color: $background-color;
}

//*-----------MEDIA QUERIES------------*//
// @media only screen and (max-width: 2300px) {
//   #environment {
//     margin-bottom: 700px;
//   }
// }
//
// @media only screen and (max-width: 2000px) {
//   #environment {
//     margin-bottom: 600px;
//   }
// }
//
// @media only screen and (max-width: 1800px) {
//   #environment {
//     margin-bottom: 550px;
//   }
// }
//
// @media only screen and (max-width: 1600px) {
//   #environment {
//     margin-bottom: 500px;
//   }
// }
//
// @media only screen and (max-width: 1400px) {
//   #environment {
//     margin-bottom: 425px;
//   }
// }
//
// @media only screen and (max-width: 1300px) {
//   #environment {
//     margin-bottom: 325px;
//   }
// }
//
// @media only screen and (max-width: 1200px) {
//   #environment {
//     margin-bottom: 250px;
//   }
// }
//
// @media only screen and (max-width: 1030px) {
//   #environment {
//     margin-bottom: 235px;
//   }
// }
//
// @media only screen and (max-width: 990px) {
//   #environment {
//     margin-bottom: 200px;
//   }
// }
//
// @media only screen and (max-width: 930px) {
//   #environment {
//     margin-bottom: 125px;
//   }
// }
//
// @media only screen and (max-width: 790px) {
//   #animals, #kids, #environment {
//     font-size: 200%;
//   }
// }
//
// @media only screen and (max-width: 540px) {
//   #kids {
//     margin-bottom: 10px;
//   }
//
//   #environment {
//     margin-bottom: 150px;
//   }
// }
//
// @media only screen and (max-width: 480px) {
//   #environment {
//     margin-bottom: 100px;
//   }
// }
//
// @media only screen and (max-width: 425px) {
//   #environment {
//     margin-bottom: 50px;
//   }
// }
//
// @media only screen and (max-width: 340px) {
//   #environment {
//     margin-bottom: 0px;
//   }
// }
//
// @media only screen and (max-width: 480px) {
//   .search input {
//     width: 85%;
//     margin-left: 15px;
//   }
//   .btn {
//     margin-left: 15px;
//   }
// }
//
// /*Media querie for bottom header on the main page*/
// /*Media querie for 1040px*/
// @media only screen and (max-width: 1040px) {
//   #bottom-header {
//     margin-bottom: 0px;
//     font-size: 98%;
//   }
// }
// /*media querie for 325px*/
// @media only screen and (max-width: 325px) {
//   #bottom-header {
//     margin-bottom: 0px;
//     font-size: 9px;
//   }
// }
// /*media querie for header in index. "volunteer connection. get involved"*/
// @media only screen and (max-width: 500px) {
//   #header-title {
//     font-size: 20px;
//   }
// }
// @media only screen and (max-width: 770px) {
//   #center-inputs {
//     width: 80%;
//   }
// }
/*End of Media querie*/
